.block {
    background-color: brown;
    box-shadow: 0 0 0 2px black;
    margin: auto;
}

.emptyblock {
    box-shadow: 0 0 0 0px black;
}

.container {
    margin-top: 5vh;
}



.row {
    margin: 0 !important;
    padding-bottom: 0.13vh !important;
}

.tcontainer {
    
    border-bottom: 1vh solid white;
}

p {
    font-size: 1.5vw;
    margin: 0;
}

.resp-head {
    font-size: 2.5vw;
    margin: 0;
    padding-bottom: 2vh;
    
}



body {
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    height: 100%;
}

.btn {
    height: 100%;
    width: 10vw;
    display: block;
    margin: auto;
    padding: 0;
}
